* {
    /*--live-from NOW https://www.youtube.com/watch?v=fWyPgZ-m4-0 best*/
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 450;
    font-style: normal;
    -webkit-text-size-adjust: 100%;

}

:root {
    --p-red-dark: #f33a39;
    --p-red-dark-focus: #dd0b0b;
    --red-light: #ffd6d6;
    --red-light-border: #ed9e9e;
    --p-gray-light: #494949;
    --p-gray-dark: #383838;
    /* rgb: 56,56,56*/
    --header-border: #e5e5e5;
    --gray-border-light: #e6e8eb;
    --input-border: #ccc;
    --input-border-focus: #999;
}

/*----index.html---- */


body {
    /* background-color: #f7f7f8; */
    background-color: white;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

h4 {
    font-weight: 520;
    font-size: 19px;
}



/* HEADER */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid var(--header-border);
}

header .about {
    display: none;
}

header .question h5 {
    margin-bottom: 3px;
}

header .contact_icons {
    margin: 0;
    margin-top: 4px;
}

header .contact_icons img {
    margin-right: 10px;
    width: 30px;
}

header p {
    font-weight: 500;
    color: var(--p-red-dark);
    -webkit-text-fill-color: var(--p-red-dark);
}

header span {
    color: var(--p-gray-light);
    -webkit-text-fill-color: var(--p-gray-light);
}

.offer {
    position: relative;
}

.offer a {
    text-decoration: none;
}

.offer p {
    position: relative;
    background-color: var(--p-red-dark);
    color: white;
    -webkit-text-fill-color: white;
    padding: 10px;
    border-radius: 20px;
    z-index: 1;
    transition: background-color 0.1s ease;


}

.offer p:hover {
    background-color: var(--p-red-dark-focus);
}

.background {
    position: absolute;
    width: 121.75px;
    height: 39px;
    background-color: black;
    border-radius: 20px;
    top: 4px;
    left: 5px;

}

/* NAVBAR */

.navbar_box {
    position: sticky;
    top: 0;
    height: 52px;
    z-index: 3;
}

.navbar {
    z-index: 2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--header-border);
    position: relative;


}

.logo {
    height: 48px;
}

.menu_toggle {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    position: relative;
}

.bars img,
.close img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* opcionális, ha nem natív méret */
    height: 100%;
}

.close {
    display: none;
}


/* nav */
nav {
    position: sticky;
    top: 48px;
    background-color: white;
    overflow: hidden;
    /*transition: max-height 0.3s ease-in-out;*/
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease;
    border-bottom: 1px solid var(--header-border);
}

nav .left,
nav .offer {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 10px 0;
    align-items: center;
    padding-inline-start: 0;

}

nav ul li {
    width: 100%;

}

nav ul li a p {

    font-size: 17px;
    font-weight: 500;
    color: var(--p-gray-light);
}

nav li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 15px 0;


}

nav ul li a.active p {
    color: var(--p-red-dark);
}

nav.active {
    transform: scaleY(1);
}

/* SLICK SLIDE */
.carousel {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.carousel-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    opacity: 0;
    color: white;
    position: absolute;
    z-index: 2;
    background-color: rgba(139, 3, 3, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
    width: 90%;
    height: 65%;
    pointer-events: none;
}

.carousel-text.active {
    opacity: 1;
}

.carousel-text.active a {
    pointer-events: visible;
}

.carousel-text p {
    font-size: 25px;
    font-weight: 300;
}

.carousel-text .button a {

    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.slider {
    max-width: 100%;
}

.slick-slide img {
    width: 100%;
    height: 300px;
    /* Kép szélessége */
    object-fit: cover;
}

.slick-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    /* fekete 40% átlátszósággal */
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 0 !important;
}

.slick-next,
.slick-prev {}

.slick-next {
    right: 0 !important;
}

.slick-prev {
    left: 0 !important;
    z-index: 1;
}

.slick-next .arrow,
.slick-prev .arrow {
    width: 50px;
    opacity: 0.75;
}

.slick-next .arrow:hover,
.slick-prev .arrow:hover {
    opacity: 1;
}

.slick-slide {
    transition: all ease-in-out 1s;
    height: 250px;
}

.slick-active {}

.slick-current {}

/* SERVICES */
.services {
    margin: 40px 20px;
}

.services .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.services .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.services .title p {
    margin-bottom: 10px;
}

.services h2 {
    margin-bottom: 10px;
}

.services p {

    line-height: 1.5;
    color: var(--p-gray-dark);
}

.servicebox {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 15px;
    max-width: 400px;
    border: 1px solid var(--gray-border-light);
}

.servicebox img {
    width: 100%;
    flex: 1 1 0;
    max-height: 250px;
    object-fit: cover;
}

.servicetext {
    padding: 0 20px;
    margin-bottom: 10px;
}

.servicebox h3 {
    margin: 10px 20px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(51, 80, 127);
}


/* PROFESSIONS */
.professions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    background-image: url('images/index_html/professions/prof_bg.jpg');
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.profbox {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    max-width: 300px;
}

.profbox p {
    text-align: center;
}

.profbox .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 550;
}

.profbox img {
    height: 25px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 60px 50px 0px 50px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer p,
footer h3,
footer a {
    color: white;
}

footer h3 {
    /* color: rgb(163, 163, 163); */
    color: var(--input-border-focus);
    margin-bottom: 20px;
}

.contact_icons {
    margin-top: 20px;
}

.contact_icons img {
    width: 35px;
}


.white_logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.white_logo img {
    width: 150px;
}


/* termekek.html */
.products {
    margin: 40px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;

}

section {}

.products .box {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
}

article {}

section h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

.card {

    grid-column: span 12;
    border: 1px solid var(--gray-border-light);
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: white;
    border-radius: 16px;

}

.card h3 {
    font-weight: 550;
    font-size: 16px;
}

.card .pbox {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 15px 0;
    color: var(--p-gray-dark);
}

.card .badges {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card .badges div {
    padding: 4px 8px;
    border-radius: 999px;
    /* background-color: #eef6ff; */
    font-size: 12px;
    /* border: 1px solid #dbeafe; */
    background-color: var(--red-light);
    border: 1px solid var(--red-light-border);
}

.card details {
    margin-top: 10px;
    padding-top: 10px;
    color: var(--p-gray-light);
}

.card details ul,
.card details p {
    margin-top: 10px;
}

.card.info {
    background: #f9fafb;
}

details summary {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;

}

summary:first-of-type {
    color: var(--p-red-dark);
}

.help>summary:first-of-type {
    list-style: none;
    color: black;
}

.help summary::-webkit-details-marker {
    display: none;
}

.help img {
    width: 16px;
    margin-left: 4px;
}

.help p {
    margin-bottom: 10px;
    padding: 0 10px;
}



/*galeria.html*/
.gallery-grid {
    margin: 40px auto;
    width: 70%;
    columns: 5 300px;
    column-gap: 1.5rem;
    row-gap: 0;
}

.gallery-grid div {
    display: inline-block;
    padding: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-bottom: 10px;
}

.gallery-grid div img {
    width: 100%;
    object-fit: cover;
}

/*kapcsolat.html*/

.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 1200px;
}

.contact_box p,
.contact_box a {
    color: var(--p-gray-dark);
    -webkit-text-fill-color: var(--p-gray-dark);
}

.vr {
    display: none;
}

.formbox {
    max-width: 550px;
    width: 100%;
    padding: 30px;
}

.offer_desc {
    margin-bottom: 10px;
}

.offer_desc h2 {
    margin-bottom: 20px;
}

.offer_desc p {
    margin-bottom: 4px;
}

.offer-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 12px;
}


.field {
    display: grid;
    gap: 6px;
}

.formbox .span-2 {
    grid-column: 1 / -1;
}

.field span,
#images_error {
    height: 1.2em;
    color: red;
}


.field span {
    margin-bottom: 9px;
}

#images_error {
    margin: 4px 0;
}

input,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--input-border);
    padding: 8px;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--input-border-focus);
}

.formbox .form_button {
    background-color: white;
    border: 1px solid gray;
    border-radius: 23px;
    color: var(--p-gray-light);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.formbox .form_button:hover {
    border-color: #e93f3f;
    background-color: #eb5353;
    color: white;
}

.formbox .form_button.active {
    background-color: #cc4141;
    transition: none;
}

#dropzone {
    position: relative;
    border: 2px dashed var(--input-border);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

#dropzone p {
    color: var(--p-gray-light);
}

#dropzone:hover {
    border-color: var(--input-border-focus);
}

#dropzone.dragover {
    background: #e0f7fa;
    border-color: #007bff;
}

#dropzone .click {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}


#file_list {
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#file_list img {
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

#clear_images {
    width: initial;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0;
    z-index: 2;
    border: 0;
    background-color: initial;
    text-decoration: underline;
    color: var(--p-gray-light);
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.action button {
    width: 300px;
}

.contact_box hr {
    width: 85%;
    height: 2px;
    background-color: var(--input-border-focus);
}

.contact {
    padding: 30px 45px 50px 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
}

.contact h3 {
    margin-bottom: 4px;
}


.contact .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact .map {
    width: 100%;
    margin: 10px auto;
}


@media only screen and (min-width: 600px) {

    .about {
        flex-direction: row;
        justify-content: space-around;
    }

    /*index.html*/
    .carousel {
        height: 400px;
    }

    .slick-slide img {
        height: 400px;
    }


    /*termekek.html*/
    .card.span-6 {
        grid-column: span 6;
    }

    /*kapcsolat.html*/
    .offer-grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 768px) {
    /*index.html*/

    .carousel {
        height: 550px;
    }

    .slick-slide img {
        height: 550px;
    }


    .carousel-text {
        width: 500px;
        min-width: 400px;
        left: 350px;
        height: 250px;
    }

    .carousel-text p {
        font-size: 33px;
    }



    /*termekek.html*/
    .card.span-4 {
        grid-column: span 4;
    }

    /*kapcsolat.html*/

}

@media only screen and (min-width: 1024px) {

    * {
        font-size: 15px;
    }

    /* header */
    header {
        padding: 20px 150px;
    }

    header .left .logo {
        display: none;
    }

    header .about {
        display: flex;
    }

    .background {
        top: 4px;
        left: 5px;
        width: 128.05px;
        height: 40px;
    }

    /* navbar */
    .navbar_box {
        height: auto;
    }

    .navbar {
        display: none;
    }

    nav {
        transform: scaleY(1);
        /* transition: none; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        padding: 5px 150px;
        width: 100%;

    }


    nav .left {
        display: flex;
        gap: 40px;
        margin-left: 20px;
    }

    nav .left .question,
    header .offer {
        display: none;
    }

    nav .left h5,
    nav .left p {
        font-size: 14px;
    }

    nav .offer {
        display: initial;
        margin-right: 20px;
    }

    nav ul {
        flex-direction: row;
        position: absolute;
        left: 50%;
        justify-content: space-between;
        gap: 0;
        max-width: 1150px;
        padding-inline-start: 0;
        transform: translate(-50%);

    }

    nav ul li a p {
        padding: 13px 20px;
        font-size: 15px;
        transition: color 0.1s ease;
        font-weight: 450;
    }



    nav ul li a:hover p {
        color: black;
    }

    nav ul li a.active:hover p {
        color: var(--p-red-dark-focus);
    }

    /* index.html */


    .services {
        margin: 40px 90px 40px 90px;
    }

    .services .content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .services .title {
        margin-bottom: 20px;
    }

    .servicebox h3 {
        font-size: 17px;
    }


    .professions {
        background-attachment: fixed;
        flex-direction: row;
        justify-content: center;
        padding: 120px;

    }

    .profbox {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /*kapcsolat.html*/
    .contact_box {
        flex-direction: row;
        margin: 40px auto;
        justify-content: center;
        border: 1px solid var(--gray-border-light);
    }

    .contact {
        padding: 72px 30px;
    }

    .contact_box hr {
        display: none;
    }

    .contact_box .vr {
        display: initial;
        width: 2px;
        height: 700px;
        background-color: var(--input-border-focus);
    }


    .formbox {
        padding: 30px;
    }

}