* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
}

:root {
    --p-red-dark: #f33a39;
    --p-red-dark-focus: #dd0b0b;
    --red-light: #ffd6d6;
    --red-light-border: #ed9e9e;
    --p-gray-light: #494949;
    --p-gray-dark: #383838;
    /* rgb: 56,56,56*/
    --header-border: #e5e5e5;
    --gray-border-light: #e6e8eb;
    --input-border: #ccc;
    --input-border-focus: #999;
}


/*----index.html---- */


body {
    background-color: white;
}


/* HEADER */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid var(--header-border);
}

header .about {
    display: none;
}

header .question h4,
header .shop h4 {
    margin-bottom: 3px;
    font-weight: 500;
}

header .contact_icons {
    margin: 0;
    margin-top: 4px;
}

header .contact_icons img {
    margin-right: 10px;
}

header p {
    color: var(--p-red-dark);
    -webkit-text-fill-color: var(--p-red-dark);
}

header span {
    color: var(--p-gray-light);
    -webkit-text-fill-color: var(--p-gray-light);
}

.offer {
    position: relative;
}

.offer a {
    text-decoration: none;
}

.offer p {
    position: relative;
    background-color: var(--p-red-dark);
    color: white;
    -webkit-text-fill-color: white;
    padding: 10px;
    border-radius: 20px;
    z-index: 1;
    transition: background-color 0.1s ease;


}

.offer p:hover {
    background-color: var(--p-red-dark-focus);
}

.background {
    position: absolute;
    width: 119.88px;
    height: 38px;
    background-color: black;
    border-radius: 20px;
    top: 5px;
    left: 4px;
}

/* NAVBAR */

.navbar_box {
    position: sticky;
    top: 0;
    height: 52px;
    z-index: 3;
}

.navbar {
    z-index: 2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--header-border);
    position: relative;


}

.logo {
    height: 48px;
}

.menu_toggle {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    position: relative;
}

.bars img,
.close img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close {
    display: none;
}


/* nav */
nav {
    position: sticky;
    top: 48px;
    background-color: white;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease;
    border-bottom: 1px solid var(--header-border);
    /* height: calc(100vh - 52px); */
}

nav.resize-animation-stopper {
    animation: none !important;
    transition: none !important;
}

nav .left,
nav .offer {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 20px 30px;
    padding-inline-start: 0;

}

nav ul li {
    width: 100%;


}

nav ul li a p {

    font-size: 16px;
    font-weight: 500;
    color: var(--p-gray-light);
}

nav li a {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 15px 0;


}

nav ul li a.active p {
    color: var(--p-red-dark);
}

nav.active {
    transform: scaleY(1);
}

/* SLICK SLIDE */
.carousel {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.carousel-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    opacity: 0;
    color: white;
    position: absolute;
    z-index: 2;
    background-color: rgba(139, 3, 3, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
    width: 90%;
    height: 65%;
    pointer-events: none;
}

.carousel-text.active {
    opacity: 1;
}

.carousel-text.active a {
    pointer-events: visible;
}

.carousel-text p {
    font-size: 26px;
    font-weight: 300;
}

.carousel-text .button a {

    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.slider {
    max-width: 100%;
}

.slick-slide img {
    width: 100%;
    height: 300px;
    /* Kép szélessége */
    object-fit: cover;
}

.slick-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 0 !important;
}

.slick-next,
.slick-prev {}

.slick-next {
    right: 0 !important;
}

.slick-prev {
    left: 0 !important;
    z-index: 1;
}

.slick-next .arrow,
.slick-prev .arrow {
    width: 50px;
    opacity: 0.75;
}

.slick-next .arrow:hover,
.slick-prev .arrow:hover {
    opacity: 1;
}

.slick-slide {
    transition: all ease-in-out 1s;
    height: 250px;
}

.slick-active {}

.slick-current {}

/* SERVICES */
.services {
    margin: 30px 20px;
}

.services .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.services .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    gap: 6px;
}

.services .title p {
    margin-bottom: 10px;
}

.services h2 {
    font-weight: 500;
}

.services p {

    line-height: 1.5;
    color: var(--p-gray-dark);
}

.servicebox {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 15px;
    max-width: 400px;
    border: 1px solid var(--gray-border-light);
}

.servicebox img {
    width: 100%;
    flex: 1 1 0;
    max-height: 250px;
    object-fit: cover;
}

.servicetext {
    padding: 0 20px;
    margin-bottom: 10px;
}

.servicebox h3 {
    margin: 10px 20px;
    margin-bottom: 4px;
    font-weight: 550;
    color: rgb(51, 80, 127);
}


/* PROFESSIONS */
.professions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    background-image: url('images/index_html/professions/prof_bg.jpg');
    background-size: cover;
    background-position: center;
}

.profbox {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    max-width: 300px;
}

.profbox p {
    text-align: center;
}

.profbox .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    font-weight: 550;
}

.profbox img {
    height: 25px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 40px 50px 0px 50px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer p,
footer a {
    color: white;
}

footer h3 {
    /* color: rgb(163, 163, 163); */
    color: var(--input-border-focus);
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}

.contact_icons {
    margin-top: 20px;
}

.contact_icons img {
    position: relative;
    width: 30px;
    transition: transform 0.2s ease;

}

.contact_icons img:hover {
    transform: scale(1.1);

}


.white_logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.white_logo img {
    width: 150px;
}


/* termekek.html */

/* elrendezés */
.productsmain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px;
    max-width: 400px;
}

.grid .row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.big.card {
    grid-row-start: 1;
    grid-row-end: 3;
    min-height: 200px;
}

.big.card.reverse {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-1 p {
    text-align: center;
}

.card-1 .badges {
    align-self: flex-end;
}

.bottom-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



/*kártya design*/
.card {
    border: 1px solid var(--gray-border-light);
    padding: 18px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: white;
    border-radius: 16px;

}

.card.info {
    background: #f9fafb;
}

.card .pbox {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--p-gray-dark);
    /*color: white;*/
}

.card h2,
.card h3 {
    margin-bottom: 10px;
    font-weight: 550;
    /*color: white;*/
}

.card h3 {
    font-weight: 500;
}

.card .badges {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.card .badges div {
    padding: 4px 8px;
    border-radius: 999px;
    font-size: 12px;
    background-color: var(--red-light);
    border: 1px solid var(--red-light-border);
}

/*kártya hátterek*/
.card.big,
.card.bor {
    background-size: cover;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card.big h2 {
    color: white;
    margin: 16px 0 0 22px
}

.card.big .pbox {
    position: relative;
    z-index: 1;

}

.card.big .pbox p {
    margin: 0 auto;
    color: white;
    padding: 20px;

}

.card.big .pbox::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 70%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%);
}

.card.karpit {
    background-image: url(images/termekek_html/card_background/autokarpit2.jpg);
}

.card.szivacs {
    background-image: url(images/termekek_html/card_background/motorules.jpg);
}


/*galeria.html*/
.gallery-main {
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gallery-main .content {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px;
}

.gallery-main h1 {
    font-size: 50px;
    font-weight: 550;
    margin-bottom: 30px;
    font-size: 32px;
}

.gallery-main h2 {
    font-weight: 400;
    font-size: 18px;
}

.gallery-main .text {
    text-align: center;
    margin: 50px 0;
    margin-bottom: 70px;
    max-width: 1200px;

}



.gallery-grid {
    column-count: 1;
    max-width: 300px;
    column-gap: 12px;
    margin-bottom: 50px;
}

.gallery-grid div {
    break-inside: avoid;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 14px;

}

.gallery-grid div img {
    width: 100%;
    transition: transform 0.2s ease;
    cursor: pointer;

}

.gallery-grid div img:hover {
    transform: scale(1.1);
}


.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
}

.lightbox.active {
    visibility: visible;
    opacity: 1;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    object-fit: contain;
    user-select: none;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
}

/*kapcsolat.html*/

.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 1200px;
}

.contact_box p,
.contact_box a {
    color: var(--p-gray-dark);
}

.contact_box a {
    -webkit-text-fill-color: var(--p-gray-dark);
}

.vr {
    display: none;
}

.formbox {
    max-width: 550px;
    width: 100%;
    padding: 30px;
}

.offer_desc {
    margin-bottom: 10px;
}

.offer_desc h2 {
    margin-bottom: 20px;
    font-weight: 500;
}

.offer_desc p {
    margin-bottom: 4px;
}

.offer-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 12px;
}


.field {
    display: grid;
    gap: 6px;
}

.formbox .span-2 {
    grid-column: 1 / -1;
}

.field span,
#images_error {
    height: 1.2em;
    color: red;
}


.field span {
    margin-bottom: 9px;
}

#images_error {
    margin: 4px 0;
}

input,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--input-border);
    padding: 6px;
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--input-border-focus);
}


.action {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    position: relative;
    height: 45px;
}

.formbox .form_button {
    background-color: white;
    border: 1px solid gray;
    height: 45px;
    border-radius: 23px;
    color: var(--p-gray-light);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
    width: 200px;
}

#loader {
    display: none;
    position: absolute;
    width: 30px;
    padding: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--p-red-dark-focus);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
    top: 7.5px;
    pointer-events: initial;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}

.formbox .form_button:hover {
    border-color: #e93f3f;
    background-color: #eb5353;
    color: white;
}

.formbox .form_button.active {
    background-color: #cc4141;
    transition: none;
}

#dropzone {
    position: relative;
    border: 2px dashed var(--input-border);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

#dropzone p {
    color: var(--p-gray-light);
}

#dropzone:hover {
    border-color: var(--input-border-focus);
}

#dropzone.dragover {
    background: #e0f7fa;
    border-color: #007bff;
}

#dropzone .click {
    color: #007bff;
    -webkit-text-fill-color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}


#file_list {
    min-height: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#file_list div {
    width: 80%;
    height: 55px;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 20px;
}

#file_list img {
    object-fit: cover;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

#file_list p {
    text-align: left;
    font-size: 12px;
    color: var(--p-gray-dark);
    padding-right: 10px;
}

#clear_images {
    width: initial;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0;
    z-index: 2;
    border: 0;
    background-color: initial;
    text-decoration: underline;
    color: var(--p-gray-light);
    cursor: pointer;
    transition: transform 0.1s ease;
}

#clear_images:hover {
    transform: scale(1.02);
}


.contact_box hr {
    width: 85%;
    height: 2px;
    background-color: var(--input-border-focus);
}

.contact {
    padding: 30px 45px 50px 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
}

.contact h3 {
    margin-bottom: 4px;
    font-weight: 450;
}


.contact .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact .map {
    width: 100%;
    margin: 10px auto;
}

#form_success {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    margin: auto;
    bottom: 10px;
    padding: 13px;
    color: white;
    -webkit-text-fill-color: white;
    font-size: 18px;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

#success_text {
    font-size: 14px;
}

#form_success.true {
    background-color: #78C841;
}

#form_success.false {
    background-color: var(--p-red-dark);
}

#form_success.active {
    transform: scaleY(1);
}

#close_success {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {


    .about {
        flex-direction: row;
        justify-content: space-around;
    }

    /*index.html*/
    .carousel {
        height: 400px;
    }

    .slick-slide img {
        height: 400px;
    }


    /*termekek.html*/
    .gallery-grid {
        column-count: 2;
        max-width: 800px;
    }

    /*kapcsolat.html*/
    .offer-grid {
        grid-template-columns: 1fr 1fr;
    }


}

@media only screen and (min-width: 768px) {

    /*index.html*/
    html {
        font-size: 16px;
    }

    .background {
        width: 134.141px;
        height: 39px;
    }

    .carousel {
        height: 550px;
    }

    .slick-slide img {
        height: 550px;
    }


    .carousel-text {
        width: 500px;
        min-width: 400px;
        left: 350px;
        height: 250px;
    }

    .carousel-text p {
        font-size: 34px;
    }



    /*termekek.html*/
    .grid .row {
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    .grid {
        max-width: unset;
    }

    .big.card {
        min-height: unset;
    }

    .bottom-grid {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    /*kapcsolat.html*/
    #success_text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {


    /* header */
    header {
        padding: 20px 150px;
    }

    header .left .logo {
        display: none;
    }

    header .about {
        display: flex;
    }


    /* navbar */
    .navbar_box {
        height: auto;
    }

    .navbar {
        display: none;
    }

    nav {
        transform: scaleY(1);
        transition: none !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        padding: 5px 150px;
        width: 100%;

    }


    nav .left {
        display: flex;
        gap: 40px;
        margin-left: 20px;
    }

    nav .left .question,
    header .offer {
        display: none;
    }

    nav .left h5,
    nav .left p {
        font-size: 14px;
    }

    nav .offer {
        display: initial;
        margin-right: 20px;
    }

    nav ul {
        flex-direction: row;
        position: absolute;
        left: 50%;
        justify-content: space-between;
        gap: 0;
        max-width: 1150px;
        padding-inline-start: 0;
        transform: translate(-50%);

    }

    nav ul li a p {
        padding: 13px 20px;
        font-size: 16px;
        transition: color 0.1s ease;
        font-weight: 450;
    }



    nav ul li a:hover p {
        color: black;
    }

    nav ul li a.active:hover p {
        color: var(--p-red-dark-focus);
    }

    /* index.html */


    .services {
        margin: 40px 90px 40px 90px;
    }

    .services .content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .services .title {
        margin-bottom: 20px;
    }

    .servicebox h3 {
        font-size: 18px;
    }


    .professions {
        background-attachment: fixed;
        flex-direction: row;
        justify-content: center;
        padding: 120px;

    }

    .profbox {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /*kapcsolat.html*/
    .contact_box {
        flex-direction: row;
        margin: 40px auto;
        justify-content: center;
        border: 1px solid var(--gray-border-light);
    }

    .contact {
        padding: 0 30px;
        margin: 72px 0;
        border-left: 1px solid var(--input-border-focus);
    }

    .contact_box hr {
        display: none;
    }

    .contact_box .vr {
        display: initial;
        width: 2px;
        height: 700px;
        background-color: var(--input-border-focus);
    }


    .formbox {
        padding: 30px;
    }

    /*galeria.html*/
    .gallery-grid {
        column-count: 4;
        max-width: 1300px;
    }

    /*galeria.html*/
    .grid {
        max-width: 1100px;
    }

}